.tile {
  min-width: 5rem;
  width: 5rem;
  height: 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  img {
    width: 5rem;
    max-height: 5rem;
    object-fit: scale-down;
    border-radius: 4px;
  }

  small {
    text-align: center;
    font-size: smaller;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
