.tiles-wrapper {
  height: 82vh;
  width: 100%;
  overflow: auto;

  .tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
  }
}

.edit-row {
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;

  .btn-reset {
    background-color: #46250d;
    border-color: #46250d;
    color: white;

    &:hover {
      color: black;
    }
  }
}

.btn-clear {
  background-color: #410c0c !important;
  border-color: #410c0c !important;
}
